#mySidebarAdmin {
    margin-top: 43px;
    text-decoration-color: black!important;
}

#modaleAdmin {
    width: 80% !important;

}

.labelFoto {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 70%;
    background-color: #f7d794!important;
    border-bottom: 1px solid #ccc
}

.w3-modal label {
    color: black;
}