
a.w3-bar-item:hover {
    color: #46967c !important;
    transform: scale(1.1);
    transition: all 0.3s;
    /*background-color: #f1f2f6 !important;*/
}

@media screen and (max-width: 1400px) {
    .w3-main b {
        font-size: 26px;
    }
}