/*HOME*/
html,body{
    font-family: 'Roboto', sans-serif !important;
    scroll-behavior: smooth;
    height: 100%!important;
}

body {
    background-color: #f5f6fa!important;
    display: flex;
    flex-direction: column;
    background-image: url(https://www.colorhexa.com/static/i/bg-pattern.min.svg),none;
}

.mySlides {display: none}

.barDx{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    letter-spacing: 0.5px;
    height: 49px;
    padding-top: 12px;
    text-align: center;
    line-height: 2;
    z-index: 0;
    cursor: pointer;
}

.barSx{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    letter-spacing: 3px;
    text-align: center;
    height: 49px;
    z-index: 0;
    cursor: pointer;
}

.barDxM{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff !important;
    color: #2e2e2e !important;
    font-size: 14px !important;
    width:100%!important;
    margin-bottom: 16px;
}

.barDxMButt{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff !important;
    color: #2c993f !important;
    font-size: 14px !important;
    width: 100% !important;;
    margin-bottom: 16px;
}

.barSxM{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff !important;
    color: #2e2e2e !important;
    font-size: 16px;
    height: 49px;
    width: 87%!important;
}


a.w3-bar-item{
    font-family: 'Roboto', sans-serif;
}

a.w3-bar-item:hover{
    color: #46967c !important;
    transform: scale(1.1);
    transition: all 0.3s;
    /*background-color: #f1f2f6 !important;*/
}

.w3-button{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff !important;
    color: black !important;
}

.w3-button:hover{
    color: #003a9b !important;
    background-color: #2c993f !important;
}

#areaRiservata{
    float: right;
}

#contact{
    font-family: 'Roboto', sans-serif;
}

#about{
    font-family: 'Roboto', sans-serif;
}


#band{
    font-family: 'Roboto', sans-serif;
}

#logo {
    background-image: url("../public/logo/visca.png");
    background-repeat: no-repeat;
    width: 51px; /*or your image's width*/
    height: 49px; /*or your image's height*/
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    display: inline-block;

}

.w3-row-padding img {margin-bottom: 12px}

footer {
    /*background-color: #2c993f;*/
    background-color: #617765;
    color: white;
    margin-top: auto;
    height: auto;
    bottom: 0px;
}

#logoBar {
    left: 0!important;
    top: 0!important;
    width: 51px;
}

/* HOLD SHOWROOM (in home) */
.img-showroom:hover{
    transform: scale(1.05); /* (105% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.img-showroom {
transition: transform .2s; /* Animation */
margin: 0 auto;
}

/* COLORI FOOTER */
#footer1 {
    background-color: #32445a;
    color:white;
}
#footer2 {
    background-color: #232F3E;
    color:white;
}
#footer3 {
    background-color: #131A22;
    color:white;
}

.content-right {
    display: none;
    position: absolute;
    right: 0;
    width: 8%;
  }

.pulsanteDxProfile {
    padding: 4px 6px 4px 6px!important;
    line-height: 1;
    font-size: 14px!important;
}


.categories {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    -webkit-filter: grayscale(75%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(75%);
}

.categories:hover{
    -webkit-filter: grayscale(0%)!important;
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%)!important;
    filter: saturate(130%)!important;
}

.divElP1 {
    bottom: 0;
    position: relative;
    width: initial;
}

a:hover {
    text-decoration: none!important;
    text-shadow: none;
}