#navMar{
    background-color: #dfe4ea;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.barDx {
    color: #2d3436;
    text-shadow: none;
}

.barSx {
    color: #2d3436;
    text-shadow: none;
}